<!-- Modal Documentos-->
<div class="modal fade" id="documentosModal" tabindex="-1" aria-labelledby="documentosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-secondary text-light">
          <h1 class="modal-title fs-5" id="documentosModalLabel">Documentos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col border-bottom border-secondary" style="--bs-border-opacity: .5;">
              <h6>Descrição</h6>
  
            </div>
            <div class="col border-bottom border-secondary" style="--bs-border-opacity: .5;">
              <h6>Referência</h6>
  
            </div>
            <div class="col border-bottom border-secondary" style="--bs-border-opacity: .5;">
              <h6>Ações</h6>  
            </div>
            <div class="row">
              <div class="col m-1 border-end border-bottom border-secondary" style="--bs-border-opacity: .5;">
                <p>Tabela de INSS</p>
              </div>
              <div class="col m-1 border-end border-bottom border-secondary" style="--bs-border-opacity: .5;">
                <p>Anexo II, lei 2136/2022 xxxxxxxxxxxxxxxxxxxxx</p>
              </div>
              <div class="col m-1 border-bottom border-secondary w-50" style="--bs-border-opacity: .5;">
                <button type="button" class="btn m-1 btn-primary w-75">Abrir</button>
                <button type="button" class="btn m-1 btn-secondary w-75">Baixar</button>
              </div>
            </div>
            
          </div>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>