<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal do Cliente</title>
</head>
<body>
    <div class="container-fluid">
        <!-- Menu -->
        <nav class="navbar bg-light fixed-top navbar-expand-lg"> 
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="/assets/img-home/logo1_low.png" alt="logo" width="50" height="50" class="d-inline-block align-text-top">
              </a>
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#bloco-Introducao">Introdução</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#bloco-Tutorial">Tutoriais</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#bloco-Duvidas">Dúvidas Técnicas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#bloco-Noticias">Notícias</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#documentosModal">Documentos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#downloadsModal">Downloads</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                </form>
              </div>
            </div>
        </nav>
        <app-home-page></app-home-page>
        <br>
        <div class="row">
            <footer>
                <h6>By Rafael</h6>
            </footer>
        </div>
    </div>
    
</body>

</html>

<!-- Modais -->
<app-documentos></app-documentos>
<app-downloads></app-downloads>

<!-- Modal Perguntas-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-light">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Dados de Contato</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nome</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Informe seu nome e sobre nome.</div>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Telefone</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Informe seu email para contato sobre a dúvida.</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Transmitir</button>
      </div>
    </div>
  </div>
</div>

